/* CSS style for video watching pages */
.wrapper .left {
	float: left;
}

.wrapper .main {
	width: 68%;
	border-right: 1px solid #cccccc;
	margin-right: 10px;
}

.wrapper .side {
	width: 30%;
}

.wrapper .side .caption h3 {
	margin-top: 0;
}

.wrapper .side .video-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.wrapper .side .video-list li {
	list-style: none;
	padding: 0;
	margin-bottom: 10px;
}

.wrapper .side .video-list a {
	text-decoration: none;
}

.wrapper .side .video-list a:hover {
	color: #15317E;
	cursor: pointer;
}

/* http://stackoverflow.com/a/12540569 */
/* Need this fix because I am floating the children */
.wrapper .side .video-list .video-list-detail:after {
	content: " ";
	display: block;
	clear: both;
} 

.wrapper .side .video-list .video-list-detail div {
	display: inline;
}

.wrapper .side .video-list .video-list-detail .video-list-preview img {
	margin-right: 5px;
	width: 120px;
}

.wrapper .side .video-list .video-list-detail .video-list-title {
	font-weight: bold;
}