<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-l
	
	# Redirect localhost/page to localhost/page.php
	RewriteRule ^([a-z]+)[/]?$ $1.php [L,NC]

	# Redirect /search/^anything$ to search.php, with ^anything$ as a parameter passed to router
	RewriteRule ^search\/(.*)[/]?$ search.php [L,NC]

	# Rewrite rule for api calls
	RewriteRule api/(.*)$ api/index.php?request=$1 [QSA,NC,L]
</IfModule>