<div>
	<div class="wrapper">
		<div class="left main">
			<iframe type="text/html" ng-src='{{trustSrc(videoPlayer)}}' width="700" height="394" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<div id="video-info">
				<span id="views"></span>
			</div>
		</div>
		<div class="left side">
			<div class="caption">
				<h3>
					Other Recommendations
				</h3>
			</div>
			<ul class="video-list">
				<li ng-repeat="rec in recommendations">
					<a target="_parent" ng-href="/watch/{{rec.id}}">
						<span class="video-list-detail">
							<span class="video-list-preview">
								<img ng-src="{{trustSrc(rec.thumbnail)}}">
							</span>
							<span class="video-list-title">
								{{rec.title}}
							</span>
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>