<div>
	<div class="wrapper">
		<div class="left main">
			<iframe type="text/html" ng-src='{{trustSrc(videoPlayer)}}' width="700" height="394" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<div id="video-info">
				<span id="views"></span>
			</div>
		</div>
		<div class="left side">
			<div class="caption">
				<h3>
					Other Recommendations
				</h3>
			</div>
			<ul class="video-list">
				<li>
					<a>
						<span class="video-list-detail">
							<span class="video-list-preview">
								<img src="//i1.ytimg.com/vi/nucAlZfND6c/default.jpg">
							</span>
							<span class="video-list-title">
								Test Video Name
							</span>
						</span>
					</a>
				</li>
				<li>
					<a>
						<span class="video-list-detail">
							<span class="video-list-preview">
								<img src="//i1.ytimg.com/vi/nucAlZfND6c/default.jpg">
							</span>
							<span class="video-list-title">
								Test Video Name
							</span>
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>